* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
}

tooltip {
  background: #1e1e2e;
  opacity: 0.8;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

tooltip label{
  color: #cdd6f4;
}

/*Set all*/
/*Left*/
#temperature,
#cpu,
#memory,
#disk,
#custom-weather,
#custom-date,
#window,
/*Center*/
#custom-power,
#idle_inhibitor,
#clock,
/*Right*/
#backlight,
#pulseaudio,
#pulseaudio-microphone,
#bluetooth,
#battery,
#custom-updater,
#custom-keybindings,
#tray,
#language,
#taskbar,
#network,
#workspaces {
  background: #1a1a29;
  opacity: 1;
  padding: 0px 10px;
  margin: 0px 0px;
  margin-top: 5px;
  border: 0px;
}


/*Left*/
#workspaces {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 0px 0px 10px 10px;
}
#workspaces button {
  padding: 5px;
  color: #313244;
  margin-right: 0px;
  border-top: 2px solid #7375fd;
  box-shadow: inset 0px 15px 8px -15px rgba(115, 117, 253, 0.5);
  animation: neon-purple 3s linear infinite;
}

#workspaces button.active {
  /* color: white; */
  color: rgb(230, 209, 255);
  border-top: 2px solid #7375fd;
  box-shadow: inset 0px 15px 8px -15px rgba(115, 117, 253, 0.5);
  animation: neon-purple 3s linear infinite;
}
/* #workspaces button.focused {
  box-shadow: inset 0px 16px 8px -15px rgba(36, 177, 238, 0.6);
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 10px;
} */
/* #workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
} */
#workspaces button:hover {
  background: #1e1e2e;
  border-radius: 10px;
  color: rgb(230, 209, 255);
  border-top: 2px solid #7375fd;
  box-shadow: inset 0px 15px 8px -15px rgba(115, 117, 253, 0.5);
  animation: neon-purple 3s linear infinite;
}
#temperature {
  border-radius: 0px 0px 0px 10px;
  color: rgb(255, 235, 235);
  border-top: 2px solid #ff8181;
  box-shadow: inset 0px 15px 8px -15px rgba(255, 218, 218, 0.5);
  animation: neon-red 3s linear infinite;
}
#cpu {
  /* font-size: 20px; */
  border-radius: 0px 0px 0px 0px;
  color: rgb(255, 235, 235);
  border-top: 2px solid #ff8181;
  box-shadow: inset 0px 15px 8px -15px rgba(255, 218, 218, 0.5);
  animation: neon-red 3s linear infinite;
}
#memory {
  border-radius: 0px 0px 0px 0px;
  color: rgb(255, 235, 235);
  border-top: 2px solid #ff8181;
  box-shadow: inset 0px 15px 8px -15px rgba(255, 218, 218, 0.5);
  animation: neon-red 3s linear infinite;
}
#disk {
  border-radius: 0px 0px 10px 0px;
  margin-right: 10px;
  color: rgb(255, 235, 235);
  border-top: 2px solid #ff8181;
  box-shadow: inset 0px 15px 8px -15px rgba(255, 218, 218, 0.5);
  animation: neon-red 3s linear infinite;
}
#language {
  border-radius: 0px 0px 0px 10px;
  border-top: 2px solid #ffffff;
  box-shadow: inset 0px 15px 8px -15px rgba(255, 255, 255, 0.5);
  animation: neon-white 3s linear infinite;
}
#custom-weather {
  border-radius: 0px 0px 0px 0px;
  border-top: 2px solid #ffffff;
  box-shadow: inset 0px 15px 8px -15px rgba(255, 255, 255, 0.5);
  animation: neon-white 3s linear infinite;
}
#custom-date {
  border-radius: 0px 0px 10px 0px;
  margin-right: 10px;
  border-top: 2px solid #89B4FA;
  box-shadow: inset 0px 16px 8px -15px rgba(36, 177, 238, 0.6);
  animation: neon-blue 3s linear infinite;
}
#window {
  border-radius: 0px 0px 10px 10px;
  color: rgb(255, 245, 226);
  border-top: 2px solid #fdcd73;
  box-shadow: inset 0px 15px 8px -15px rgba(255, 245, 218, 0.5);
  animation: neon-orange 3s linear infinite;
}



/*Center*/
  /* px1 qua trai qua phai
  px2 len xuong 
  px3 do mo
  px4 cang lon cang thu nho */
#custom-power {
  border-radius: 0px 0px 10px 10px;
  margin-right: 10px;
  margin-left: 10px;
  color: rgb(230, 209, 255);
  border-top: 2px solid #7375fd;
  box-shadow: inset 0px 15px 8px -15px rgba(115, 117, 253, 0.5);
  animation: neon-purple 3s linear infinite;
}
#idle_inhibitor {
  margin-left: 10px;
  border-top: 2px solid #ffffff;
  border-radius: 0px 0px 0px 10px;
  box-shadow: inset 0px 15px 8px -15px rgba(255, 255, 255, 0.5);
  animation: neon-white 3s linear infinite;
}
#clock {
  margin-right: 10px;
  border-top: 2px solid #ffffff;
  border-radius: 0px 0px 10px 0px;
  box-shadow: inset 0px 15px 8px -15px rgba(255, 255, 255, 0.5);
  animation: neon-white 3s linear infinite;
}



/*Right*/
#backlight {
  margin-left: 10px;
  border-radius: 0px 0px 0px 10px;
  color: rgb(251, 255, 234);
  border-top: 2px solid #e9fa89;
  box-shadow: inset 0px 15px 8px -15px rgba(233, 250, 137, 0.5);
  animation: neon-yellow 3s linear infinite;
}
#pulseaudio {
  border-radius: 0px 0px 0px 0px;
  color: rgb(241, 226, 255);
  border-top: 2px solid #da89fa;
  box-shadow: inset 0px 15px 8px -15px rgba(218, 137, 250, 0.5);
  animation: neon-pink 3s linear infinite;
}
#pulseaudio.bluetooth {
  border-radius: 0px 0px 0px 0px;
  color: rgb(241, 226, 255);
  border-top: 2px solid #da89fa;
  box-shadow: inset 0px 15px 8px -15px rgba(218, 137, 250, 0.5);
  animation: neon-pink 3s linear infinite;
}
#pulseaudio.muted {
  border-radius: 0px 0px 0px 0px;
  color: rgb(241, 226, 255);
  border-top: 2px solid #da89fa;
  box-shadow: inset 0px 15px 8px -15px rgba(218, 137, 250, 0.5);
  animation: neon-pink 3s linear infinite;
}
#pulseaudio.microphone {
  border-radius: 0px 0px 0px 0px;
  color: rgb(241, 226, 255);
  border-top: 2px solid #da89fa;
  box-shadow: inset 0px 15px 8px -15px rgba(218, 137, 250, 0.5);
  animation: neon-pink 3s linear infinite;
}
#bluetooth {
  border-radius: 0px 0px 0px 0px;
  color: #bfddfa;
  border-top: 2px solid #89B4FA;
  box-shadow: inset 0px 15px 8px -15px rgba(36, 177, 238, 0.5);
  animation: neon-blue 3s linear infinite;
}
#battery {
  color: rgb(222, 255, 222);
  border-radius: 0px 0px 0px 0px;
  border-top: 2px solid #92fa89;
  box-shadow: inset 0px 15px 8px -15px rgba(146, 250, 137, 0.5);
  animation: neon-green 3s linear infinite;
}
/* #battery.critical:not(.charging) {
  background-color: #f38ba8;
    color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */
#network {
  border-radius: 0px 0px 10px 0px;
  margin-right: 10px;
  color: #bfddfa;
  border-top: 2px solid #89B4FA;
  box-shadow: inset 0px 15px 8px -15px rgba(36, 177, 238, 0.5);
  animation: neon-blue 3s linear infinite;
}
#network.disconnected,#network.disabled {
  background-color: #313244;
  color: #cdd6f4;
}


#custom-updater {
  border-radius: 0px 0px 0px 10px;
  border-top: 2px solid #ffffff;
  box-shadow: inset 0px 15px 8px -15px rgba(255, 255, 255, 0.5);
  animation: neon-white 3s linear infinite;
}

#custom-keybindings {
  border-radius: 0px 0px 10px 0px;
  border-top: 2px solid #ffffff;
  border-radius: 0px 0px 10px 0px;
  box-shadow: inset 0px 15px 8px -15px rgba(255, 255, 255, 0.5);
  animation: neon-white 3s linear infinite;
}
#tray {
  border-radius: 0px 0px 10px 0px;
  /* margin-right: 10px; */
  color: #bfddfa;
  border-top: 2px solid #89B4FA;
  box-shadow: inset 0px 15px 8px -15px rgba(36, 177, 238, 0.5);
  animation: neon-blue 3s linear infinite;
}
























@keyframes blink {
  to {
      color: #000000;
  }
}
#custom-menu {
background-color: #f5c2e7;
}




@keyframes neon-white {
  0% {
    box-shadow: inset 0px 16px 8px -15px rgba(255, 255, 255, 0.6);
  }
  50% {
    box-shadow: inset 0px 15px 8px -15px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: inset 0px 16px 8px -15px rgba(255, 255, 255, 0.6);
  }
}

@keyframes neon-purple {
  0% {
    box-shadow: inset 0px 16px 8px -15px rgba(115, 117, 253, 0.6);
  }
  50% {
    box-shadow: inset 0px 15px 8px -15px rgba(115, 117, 253, 0.5);
  }
  100% {
    box-shadow: inset 0px 16px 8px -15px rgba(115, 117, 253, 0.6);
  }
}
@keyframes neon-orange {
  0% {
    box-shadow: inset 0px 16px 8px -15px rgba(255, 245, 218, 0.6);
  }
  50% {
    box-shadow: inset 0px 15px 8px -15px rgba(255, 245, 218, 0.5);
  }
  100% {
    box-shadow: inset 0px 16px 8px -15px rgba(255, 245, 218, 0.6);
  }
}
@keyframes neon-red {
  0% {
    box-shadow: inset 0px 16px 8px -15px rgba(255, 218, 218, 0.6);
  }
  50% {
    box-shadow: inset 0px 15px 8px -15px rgba(255, 218, 218, 0.5);
  }
  100% {
    box-shadow: inset 0px 16px 8px -15px rgba(255, 218, 218, 0.6);
  }
}
@keyframes neon-pink {
  0% {
    box-shadow: inset 0px 16px 8px -15px rgba(218, 137, 250, 0.6);
  }
  50% {
    box-shadow: inset 0px 15px 8px -15px rgba(218, 137, 250, 0.5);
  }
  100% {
    box-shadow: inset 0px 16px 8px -15px rgba(218, 137, 250, 0.6);
  }
}
@keyframes neon-blue {
  0% {
      box-shadow: inset 0px 16px 8px -15px rgba(36, 177, 238, 0.6);
  }
  50% {
      box-shadow: inset 0px 15px 8px -15px rgba(36, 177, 238, 0.5);
  }
  100% {
      box-shadow: inset 0px 16px 8px -15px rgba(36, 177, 238, 0.6);
  }
}
@keyframes neon-green {
  0% {
    box-shadow: inset 0px 16px 8px -15px rgba(146, 250, 137, 0.6);
  }
  50% {
    box-shadow: inset 0px 15px 8px -15px rgba(146, 250, 137, 0.5);
  }
  100% {
    box-shadow: inset 0px 16px 8px -15px rgba(146, 250, 137, 0.6);
  }
}
@keyframes neon-yellow {
  0% {
    box-shadow: inset 0px 16px 8px -15px rgba(233, 250, 137, 0.6);
  }
  50% {
    box-shadow: inset 0px 15px 8px -15px rgba(233, 250, 137, 0.4);
  }
  100% {
    box-shadow: inset 0px 16px 8px -15px rgba(233, 250, 137, 0.6);
  }
}






@keyframes border-flicker {
  0% {
    opacity: 0.1;
    box-shadow: inset 0px 19px 8px -15px rgba(36, 177, 238, 0.6);
  }
  2% {
    opacity: 1;
    box-shadow: inset 0px 16px 8px -15px rgba(36, 177, 238, 0.5);
  }
  4% {
    opacity: 0.1;
    box-shadow: inset 0px 19px 8px -15px rgba(36, 177, 238, 0.6);
  }
  8% {
    opacity: 1;
    box-shadow: inset 0px 16px 8px -15px rgba(36, 177, 238, 0.5);
  }
  70% {
    opacity: 0.7;
    box-shadow: inset 0px 19px 8px -15px rgba(36, 177, 238, 0.6);
  }
  100% {
    opacity: 1;
    box-shadow: inset 0px 16px 8px -15px rgba(36, 177, 238, 0.5);
  }
}